.callMeBox{
    margin-top: 150px;
    background-color: #005f6c;
    color: white;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 5px;
    margin-bottom: -30px;
}

.callMeFlex{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.buttonTalk{
    border: 3px solid #3f996c;
    height: 30px;
    width: 120px;
    background-color: Transparent;
    background-repeat:no-repeat;
    color: white;
    font-size: 18px;
    box-sizing: border-box;
}
  
.buttonTalk:hover {
    transition: 0.4s;
    background-color: #3f996c;
    color: white;
}

@media (max-width: 500px){

    .callMeBox{
        
        background-color: #005f6c;
        border-radius: 5px;
        width: 90%;
        margin: auto;
        margin-top: 100px;
        margin-bottom: -30px;
    }
    
    .callMeFlex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }

    .callMeFlex h3{
        font-size:4vw;
        margin-left: 10px;
        display: none;
        
    }
    
    .callMeFlex p{
        font-size:3.5vw;
        text-align: center;
    }

    .buttonTalk{
        border: 3px solid #3f996c;
        height: 45px;
        width: 150px;
        font-size:4vw;
        background-color: Transparent;
        background-repeat:no-repeat;
        color: white;
        margin-right: 10px;
    }
      
    .buttonTalk:hover {
        transition: 0.4s;
        background-color: #3f996c;
        color: white;
    }
}