.mainDivHeader{
    margin-top: 10px;
   display: relative;
   height: 100px;
   
}

.mainLogo{
    position: absolute;
    height: 100px;
    width: 100px;
    left: 22.5%; 
}


.aboutMeHeader{
    position: absolute;
    height: 20px;
    text-decoration: none;
    color: #0d91b3;
    right: 25%;
    top: 10%;

}


.contact{
    position: absolute;
    height: 20px;
    text-decoration: none;
    color: #0d91b3;
    right: 17.5%;
    top: 10%;

}
