.mainDivHeader{
   margin-top: 10px;
   height: 100px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

.mainLogo{
    height: 100px;
    width: 100px;
}


.aboutMeHeader{
    height: 20px;
    text-decoration: none;
    color: #0d91b3;
    padding-right: 20px;
}


.contact{
    height: 20px;
    text-decoration: none;
    color: #0d91b3;
}
