.footerMain{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    /* background: linear-gradient(to right, #2b6c88, #2e724d); */
    background-color: black;
    color: white;
    font-size: 18px;
    z-index: -1;

}


.footerMain img {
    margin: auto;
    padding-top: 40px;
    height: 100px;
}

.footerMain p {
    margin-top: 0px 
}