.loginForm{
    background-color:#f6f8fa;
    border: 1px solid #eaecef;
    width: 400px;
    height:300px;
    border-radius: 5px;
    padding: 20px; 
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 150px;  
    color: #4b4b4b;
    font-size: 18px;
}

.contactMeh2 h2{
    font-weight: 100;
}
    

.loginForm input{
    width: 150px;
    height: 25px;
    border: 1px solid #eaecef;
    padding: 5px 12px;
    border-radius: 8px; 
}

.loginForm label{  
    padding: 5px 12px; 
}

.contactMeLabel{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.contactMeInput{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-right: 10px;
    margin-bottom: 20px;
}

textarea{
    resize:none;
    border-radius: 6px;
    border:1px solid #eaecef;
}

textarea:focus {
    outline: none !important;
    border:1px solid rgb(0, 85, 197);
    box-shadow: 0 0 10px #9ab2cc;
}


input:focus {
outline: none !important;
    border:1px solid rgb(0, 85, 197);
    box-shadow: 0 0 10px #9ab2cc;
}


.loginForm button{
    margin-top: 20px;
    width: 286px;
    height: 35px;
    background-color: #28a745;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    border:1px solid #eaecef;
    padding: 5px 16px; 
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}

.loginForm button:hover{
    background-color:#22863a;
}


@media (max-width: 500px){

    .contactMeh2 {
        margin-top: 20px;
    }

    .contactMeh2 h2{
        font-weight: 100;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .loginForm{
        margin-top: 10px;
        width: 300px;
        height: 280px;
        padding: 20px; 
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 150px;  
        color: #4b4b4b;
    }

    .loginForm input{
        width: 125px;
        height: 25px;
    }


textarea{
    height: 100px;
    width: 280px;
}
}