.homeMainDiv{
    margin-bottom: 50px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.homeMainDiv h1{
    margin-bottom: 0px;
    font-size: 36px;
}

.homeMainDiv p{
    width: 50%;
    text-align: center;
}

.homeMainDiv .avatarSize{
    height: 280px;
}


@media (min-width: 1500px){
    .homeMainDiv p{
        width: 35%;
        text-align: center;
    }

}